/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* Navbar styles */
  .header {
    width: 100vw;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:  #0f0f2e;
  }
  
  .logo {
    width: 40px;
    /* height: 30%; */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .name {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: flex-end;
    justify-items: right;
    margin-left: 390px;
  }
  .left-section {
    margin-right: 250px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0 25px;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  /* Footer styles */
  .footer {
    background: #be1919;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Home styles */
  .home-container {
    background-image: url("../images/background-soft-blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .home-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .home-container .image-container {
    margin-top: 20px;
  }
  
  .home-container .image-container img {
    width: 100%;
    max-width: 500px;
  }
  
  /* About styles */
  .about-container {
    background-image: url("../images/background-soft-blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    /* padding: 20px; */
    text-align: center;
    /* margin-top: 100px; */
  }
  .skills-skill {
    flex: 0 0 calc(15% - 5px);
    height: 30px;
    background: #414188;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .about-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .about-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Projects styles */
  .projects-container {
    background-image: url("../images/background-soft-blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin-top: 0;
  }
  
  .projects-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .projects-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  
  .projects-container ul li {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  /* Contact styles */
  .contact-form {
    background-image: url("../images/background-soft-blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form {
    margin: 30px;
    background-color: rgb(68, 77, 82);
    width: 400px;
    text-align: center;
    width: 250px;
    padding: 25px;
    border: 1px solid #605757;
    border-radius: 25px;
  }
  
  .contact label {
    margin: 0.5rem;
  }
  
  .contact-p {
    text-align: center;
    margin: 10px;
    color: #ffffff;
  }
  
  .contact input,
  .contact textarea {
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .contact button {
    background-color: #4f594f;
    color: rgb(190, 24, 24);
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* Main layout styles */
  .main-layout {
    padding: 20px;
  }
  
  .row {
    width: 100%;
    display: flex;
    display: block;
    color: #ffffff;
  }
  
  .col {
    width: 100%;
    color: #ffffff;
  }
  
  .col-auto {
    /*  display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: auto; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .contact-field {
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .contact-h1 {
    text-align: center;
    color: #ffffff;
  }
  .contact-field label {
    margin-bottom: 5px;
  }